{% extends "base_generic.html" %}

{% block content %}
<h1>Available books</h1>

{% if bookinstance_list %}
<ul>
    {% for bookinst in bookinstance_list %}
    <li>
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> -
        {% if perms.catalog.can_loan_book %}
        <small>[<a href="{% url 'change-status' bookinst.pk %}">Change status</a>]</small>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% else %}
<p>There are no books available.</p>
{% endif %}
{% endblock %}